#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-4190d8a8-cbef-4905-93e9-7a57d481607e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}