#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 {
  background-color: transparent;
  background-image: none;
  min-width: 350px;
  min-height: 570px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 62px;
  left: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Panel_1 {
  width: 320px;
  height: 506px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_8 {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 312px;
  height: 54px;
  background-color: #6DFD9C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rich_text_7 {
  position: absolute;
  top: -3px;
  left: 24px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 274px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12pt;
  font-family: Apple Braille,Arial;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rich_text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Apple Braille,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Apple Braille,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_1 {
  position: absolute;
  top: 82px;
  left: 12px;
  width: 280px;
  height: 264px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 64px;
  width: 193px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 14pt;
  line-height: 14pt;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Label_85 .valign {
  vertical-align: middle;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Line_1 {
  position: absolute;
  top: 524px;
  left: 0px;
  width: 320px;
  height: 44px;
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_12 {
  position: absolute;
  top: 529px;
  left: 47px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_57 {
  position: absolute;
  top: 30px;
  left: 269px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_80 {
  position: absolute;
  top: 529px;
  left: 245px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_21 {
  position: absolute;
  top: 529px;
  left: 152px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_8 {
  position: absolute;
  top: 30px;
  left: 23px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 {
  position: absolute;
  top: 430px;
  left: -15px;
  width: 361px;
  height: 72px;
  background-color: #FD9941;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36pt;
  font-family: Roboto-Bold,Arial;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36pt;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36pt;
  line-height: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}