#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-4bc8a90c-7376-46e1-8ecd-3b91df8e3434 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}