#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-831f4200-f3f0-4c40-a116-3fbf4c14144f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}