#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_1 {
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Line_1 {
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-8d17dc74-5fb2-422d-8a57-5c8ea8a052a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}