#s-abbf570d-8795-46c6-ac05-58f32e93e24e {
  background-color: transparent;
  background-image: none;
  min-width: 319px;
  min-height: 569px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rectangle_1 {
  position: absolute;
  top: 65px;
  left: 1px;
  width: 314px;
  height: 500px;
  background-color: #FFFECE;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Image_1 {
  position: absolute;
  top: 207px;
  left: 82px;
  width: 140px;
  height: 129px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rich_text_1 {
  position: absolute;
  top: 335px;
  left: 44px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 221px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 26px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rich_text_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}