#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-dec3f298-c9e1-4056-9f0a-2d7d92ad542e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}