#s-ed061210-2b17-4718-833e-ea067f64a65e {
  background-color: transparent;
  background-image: none;
  min-width: 322px;
  min-height: 570px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Dynamic_Panel_1 {
  position: absolute;
  top: 62px;
  left: 0px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Panel_1 {
  width: 320px;
  height: 506px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_1 {
  position: absolute;
  top: 9px;
  left: -1px;
  width: 309px;
  height: 281px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_6 {
  position: absolute;
  top: 303px;
  left: -1px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 196px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Helvetica Neue,Arial;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_7 {
  position: absolute;
  top: 301px;
  left: 229px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 77px;
  height: 60px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18pt;
  font-family: Roboto-Regular,Arial;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
  line-height: 0px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_8 {
  position: absolute;
  top: 380px;
  left: -1px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 196px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20pt;
  font-family: Helvetica Neue,Arial;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 400;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_9 {
  position: absolute;
  top: 378px;
  left: 229px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 77px;
  height: 60px;
  background-color: #FD9927;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18pt;
  font-family: Roboto-Regular,Arial;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18pt;
  line-height: 0px;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 84px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 14pt;
  line-height: 14pt;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Label_85 .valign {
  vertical-align: middle;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Line_1 {
  position: absolute;
  top: 524px;
  left: 0px;
  width: 320px;
  height: 44px;
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_12 {
  position: absolute;
  top: 529px;
  left: 47px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_57 {
  position: absolute;
  top: 30px;
  left: 269px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_80 {
  position: absolute;
  top: 529px;
  left: 245px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_21 {
  position: absolute;
  top: 529px;
  left: 152px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_8 {
  position: absolute;
  top: 30px;
  left: 23px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}