#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Rich_text_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Line_1 {
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Line_1 {
  border-top-width: 44px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ed061210-2b17-4718-833e-ea067f64a65e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ed061210-2b17-4718-833e-ea067f64a65e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}